.insure {
  .content {
    .left, .right {
      width: 50%;
      padding: 15px 25px;
    }
    .left {
      border-right: 1px solid #eee;
      
    }
    .right {
      .title {
        margin-bottom: 15px;
        font-weight: bold;
      }
    }
    .form {
      .formGroup {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .label {
          width: 140px;
        }
        .formInput {
          width: 220px;
          height: 32px;
          line-height: 32px;
          border: 1px solid #ccc;
          border-radius: 3px;
          outline: none;
          margin-right: 10px;
          &:focus {
            border-color: #333;
          }
        }
        textarea {
          height: 100px !important;
        }
      }
    }
  }
}