
button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  padding: 6px 12px;
  border-radius: 3px;
  &:hover {
    border-color: #333;
  }
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-m {
  display: flex;
  align-items: center;
}